* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #00A676;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#title {
    text-align: center;
    font-size: 35px;
    color: black;
}

#quote-box {
    background-color: white;
    border-radius: 10px;
    width: 500px;
    height: auto;
    padding: 10px;
}

#text {
    color: black;
    padding: 20px;
    text-align: center;
}

#author {
    color: black;
    padding: 5px;
    text-align: center;
}

#tweet-quote {
    color: #00A676;
    float: left;
}

#new-quote {
    background-color: #00A676;
    color: white;
    float: right;
    border-color: #00A676;
    border-radius: 10px;
}

.configButton {
    display: block;
    margin: auto;
    width: 400px;
}

footer {
    text-align: center;
    margin: 20px;
}